<li><a class="<%= currentUrl.startsWith('/instructor/post-initial') ? 'active' : '' %>"
       href="/instructor/post-initial">Post initial</a></li>
<li><a class="<%= currentUrl.startsWith('/instructor/post-final') ? 'active' : '' %>"
       href="/instructor/post-final">Post final</a></li>
<li><a class="<%= currentUrl.startsWith('/instructor/review-list') ? 'active' : '' %>"
       href="/instructor/review-list">Review list</a></li>
<li><a class="<%= currentUrl.startsWith('/instructor/reply') ? 'active' : '' %>"
       href="/instructor/reply">Reply form</a></li>
<li><a class="<%= currentUrl.startsWith('/instructor/statistics') ? 'active' : '' %>"
       href="/instructor/statistics">Statistics</a></li>
